body {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Cantarell', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(90.36deg, #47D69D 0%, #47D69D 0.01%, #47D69D 0%);  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


